:root {
    --very-dark-blue: #100E1D;
    --dark-blue: #1E213A;
    --text-gray: #A09FB1;
    --text-white: #E7E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-white);
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-side {
    width: 25vw;
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 1rem; */
    position: relative;
}

.today-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* width: 100%; */
    padding: 15% 5% 0 5%;
}

.btn {
    background: var(--text-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .5rem;
    cursor: pointer;
    transition: all .4s ease;
}

#search-places {
    position: absolute;
    top: 5%;
    left: 5%;
}

#location-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    background: var(--text-gray);
    padding: .25rem;
    border-radius: 50%;
    transition: all .4s ease;
}

.btn:hover,
#location-btn:hover {
    color: var(--text-gray);
    background: var(--text-white);
}

.search-container {
    padding-top: 5rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-around; */
}

#close-search-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* transform: translate(-50%, 50%); */
    cursor: pointer;
}


#close-search-btn:hover {
    transform: scale(1.5);
}

input {
    height: 32px;
    padding: 0 .5rem;
    background: transparent;
    border: 1px solid var(--text-white);
    color: var(--text-white);
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

#today-temp {
    font-weight: 800;
    font-size: 5rem;
}

.date-and-location {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 300;
}

.today-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    background: var(--very-dark-blue);
    padding: 2rem 5%;
}

.future-weather-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    width: 100%;
    max-height: 30vh;
}

.future-box {
    width: 100%;
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 1.5rem;
}

#main-image {
    width: 100%;
}

p {
    font-size: .875rem;
}


.future-img {
    height: 50px;
}

.future-temp {
    gap: 10%;
    font-size: .75rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.today-hightlighs-container {
    max-height: 70vh;
}

.today-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.5fr 2fr;
    gap: 2rem;
}

h3 {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.today-details-box {
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: .5rem;
}

label {
    font-size: .5rem;
}

/* For Firefox */
progress::-moz-progress-bar {
    background: rgb(209, 209, 108);
    height: 10px;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
    background: rgb(209, 209, 108);
    height: 10px;

}

/* For IE10 */
progress {
    background: rgb(209, 209, 108);
    height: 10px;
}


.today-details-box span:not(.material-icons) {
    font-size: 4rem;
}

.humidity-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity-bar-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.material-symbols {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}




@media (min-width:1100px) {
    .right-side {
        padding: 2rem 10%;
    }
}























.hidden {
    display: none;
}